.weather {
	min-height: 95vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: url(../../img/imgonline-com-ua-Blur-fqah5HjHokhKsz.jpg);
}
.weather > div{
	position: relative;
	display: flex;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	width: 85%;
	min-height: 90vh;
}
.content{
	text-align: center;
}

